#Home-page{
    width: 100%;
    /* border: 1px solid red; */
    top: 20px;
    /* margin-top: 100px; */
    /* height: 700px; */
    position: relative;
    padding-bottom: 5%;
}

#home-body{
    width: 87%;
    /* border: 1px solid red; */
    margin: auto;
}
.img-for-head{
    /* border: 1px solid red; */
    margin-top: 2%;
}

.img-for-head>img{
    width: 100%;

}

#top-selling-pro{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2%;
}

#top-selling-pro>div{
    width: 22%;
    /* height: 300px; */
    /* border: 1px solid red; */
}

#top-selling-pro>div>img{
    width: 100%;
    height: 100%;
}

#top-selling-pro-slide{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 3%;
    background-color: white;
}

#top-selling-pro-slide>div{
    width: 18%;
    height: 380px;
    /* border: 1px solid red; */
    box-shadow: 1px 1px 5px #c2bebe;
}

#top-selling-pro-slide>div>img{
    width: 100%;
    height: 60%;
}
#top-selling-pro-slide>div>h5{
    font-weight: 500;
    font-size: 20px;
    margin-left: 8%;
}
#top-selling-pro-slide>div>p{
    color: rgb(167, 160, 160);
    font-size: 1em;
    margin-left: 8%;
}
#top-selling-pro-slide>div>span:nth-child(4){
    margin-left: 8%;
}

#top-selling-pro-slide>div>span:nth-child(5){
   font-style: unset;
   text-decoration: line-through;
   margin-left: 4%;
   color: rgb(167, 160, 160);

}

#top-selling-pro-slide>div>span:nth-child(6){
    
    margin-left: 4%;
    color: #ff926a;
 
 }

 #top-selling-pro-slide>div>p:nth-child(7){
    text-align: center;
    color: black;
  text-decoration: underline;
  margin-top: 2%;
 }

.head{
    font-size: 2rem;
    width: 100%;
   display: flex;
  margin-left: 40%;
  margin-top: 2%;
    font-style: italic;
    font-family: Cormorant-Italic, Serif, Sans-Serif;
    font-weight: 500;
    /* display: inline-flex; */

}

