#parent{
    width: 100%;
    /* border: 1px solid red; */
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1;
    box-shadow: 1px 1px 2px #f1eaea ;
}
/* #parent>div{
    width: 30%;
    border: 1px solid red;
} */
#parent>div:nth-child(1){
    width: 27%;
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
}
.style-for-categories{
    font-size: 1.2rem;
    /* font-size: 18px; */
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: .03125rem;
    padding: 1rem 0;
    /* font-family: Serif,Sans-Serif; */
    color: #333;
    border-bottom: 0.125rem solid transparent;
    cursor: pointer;
    text-transform: uppercase;
}
#parent>div:nth-child(1)>span:nth-child(2){
    font-family: Cormorant;
    padding: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: .25rem;
    text-align: left;
    color: #D3A84F;
}
#parent>div:nth-child(2){
    width: 25%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
}
#parent>div:nth-child(2)>img{
    width: 95%;
    height: 100%;
    padding-left: 20%;
}

#parent>div:nth-child(3){
    width: 35%;
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: space-between; */
}

#all-sections>div:nth-child(1){
    /* border: 1px solid red; */
    border-bottom: 1px solid rgb(160, 157, 157);
    width: 55%;
    height: 100%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
#all-sections>div:nth-child(1)>input{
    height: 40px;
    width: 97%;
    border: none;
    outline: none;
}

#all-sections>div:nth-child(2){
     /* border: 1px solid red;   */
     display: flex;
     width: 35%;
     justify-content: space-around;
     align-items: center;
     margin-left: 4%;
}
.login{
    /* border: 1px solid red;   */
    font-size: 15px;
    display: flex;
    justify-content: space-around;
    border-radius: 20px;
    background-color: #e1e1df;
    padding: 1%;
    /* align-items: center; */

}
.login>img{
    width: 20%;
}
#menu-down{
    /* border: 1px solid red;   */
    margin-top: 21%; 
    position: absolute;
    right: 2.5%;
    width: 17%;
    background-color: white;
     box-shadow: 1px 1px 7px #e2dede;
     /* padding-top: 1.3%; */
     font-size: 16px;
     align-items: center;
     padding: 0.5%;
    


}
#menu-down>p{
    display: flex;
    width: 100%;
   padding-left: 8%;
   height: 45px;
   cursor: pointer;
   /* border: 1px solid red; */
   margin-bottom: 2%;
   margin-top: 5%;
   
   border-bottom: 1px solid rgb(223, 220, 220);
   
}

#menu-down>p>i{
    margin-right: 10%;
}



#all-sections>span{
    width: 10%;
    border: 1px solid red;
    position: relative;
    
    
}

#categories{
    /* border: 1px solid red; */
    margin-top:70px;
    /* text-align: center; */
    display: flex;
    scroll-behavior: smooth;
    position: sticky;
    border-bottom: 1px solid rgb(180, 177, 177);
    
}
#categories>div{
    /* border: 1px solid red; */
    width: 60%;
    margin: auto;
    display: flex;
    align-items: center;  
    justify-content: space-around;
   
}

#categories>div>span{
    font-size: 0.9rem;
    /* font-size: 18px; */
    font-weight:500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: .03125rem;
    padding: 1rem 0;
  
    color: #474747;
    /* border-bottom: 0.125rem solid ;helpfull */
    cursor: pointer;
    text-transform: uppercase;
}

